body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Color de fondo del cuerpo */
    color: #333; /* Color del texto principal */
    padding: 50px;/*bajar y centrar */
    
}

.container {
    max-width: 600px;
    margin: 0 auto;/*centrar cuadro */
    padding: 20px;
    background-color: #fff; /* Color de fondo del contenedor */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    position: relative; /* Para posicionar el botón relativo al contenedor */
    
}

h1 {
    color: #9852bddb; /* Color del título */
}

p {
    color: #666; /* Color del texto normal */
}

.form {
    margin-bottom: 20px;
}

label {
    font-size: 16px; /* Tamaño de la letra para etiquetas */
    color: #9852bddb; /* Color del texto del label */
}

.guessSubmit {
    background-color: #9852bddb; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    padding: 10px 20px;
    font-size: 16px; /* Tamaño de la letra para el botón */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.guessSubmit:hover {
    background-color: #00796b; /* Cambio de color al pasar el ratón */
}

.guesses {
    color: rgb(3, 2, 75); /* Color rojo para las suposiciones anteriores del jugador */
}

.lastResult {
    color: rgb(77, 7, 124); /* Color azul para el último resultado de la suposición del jugador */
}

.lowOrHi {
    color: green; /* Color verde para el indicador de si la suposición fue demasiado alta o demasiado baja */
}


/* Estilos para el botón "Start new game" */
.resetButton {
    background-color: rgb(63, 4, 62);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.resetButton:hover {
    background-color: rgb(137, 34, 127);
}
